<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Социальная сеть</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в социальную сеть! Авторизируйтесь, чтобы смотреть посты.</h1>
        <a href="/login"><button>Авторизироваться</button></a>
        <a href="/register"><button>Регистрация</button></a>
    </div>
</body>
</html>
