<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Регистрация</h1>

        <!-- Отображение сообщения об ошибке -->
        {{if .ErrorMsg}}
        <div class="error-message">
            <p>{{.ErrorMsg}}</p>
        </div>
        {{end}}

        <form action="/register" method="post">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" value="{{.Email}}" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{.Email}}" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>